@charset "utf-8";
/* CSS Document */

@media only screen and (min-width: 645px) {
.portfolio .pos-center .professional{
	padding:70px 0px 70px 0px;	
}
.portfolio .pos-center .professional,
.latest .pos-center {
	height:100%;	
    align-items: center;
}
.menu .pos-center nav .sub1:hover .sub-menu1,
.menu .pos-center nav .sub2:hover .sub-menu2,
.menu .pos-center nav .sub3:hover .sub-menu3,
.menu .pos-center nav .sub4:hover .sub-menu4 {
	display:block !important;	
}

}
@media only screen and (max-width: 950px) {
.clients {
	flex-direction:column;
	justify-content:center;
	padding:inherit;	
}
	
.clients .komentarz{
	height:100%;
	padding:15px 20px;
	float:none !important;
	display:block;
	margin: 0 auto;
	margin-top: -25px;
}
.clients .avatar{
	width:160px;
	height:160px;
	margin: 0 auto !important;
	float:none !important;
	display:inline-block;
	display:flex;
	
}
.clients .avatar img{
	width: 130px;
}
.clients .komentarz h1 {
    padding-top: 30px;
	font-size:12px;
}
.portfolio .pos-center section .services {
    padding-top: 40px;
}
.portfolio .pos-center section .services.nutka{
	background:url(../images/projekt-t_51.png) center 0px  no-repeat;
	background-size:70px;
}
.portfolio .pos-center section .services.cos{
	background:url(../images/projekt-t_53.png) center 0px  no-repeat;
	background-size:70px;
}
.portfolio .pos-center section .services.gwiazda{
	background:url(../images/projekt-t_55.png) center 0px  no-repeat;
	background-size:70px;
}
.portfolio .pos-center .professional h3,
.latest .pos-center .flex-center h3{
	padding:10px 10px;
	text-align:center;
}
.latest .pos-center .flex-center {
	padding: 30px 0 20px;	
}
.developing {
	background-size: 70% auto;
}
.portfolio .pos-center section .services.serce{
	background:url(../images/projekt-testowy_13.png) center 0px  no-repeat;
}
.portfolio .pos-center section .services.telefon{
	background:url(../images/projekt-testowy_15.png) center 0px  no-repeat;
}
.portfolio .pos-center section .services.wykres{
	background:url(../images/projekt-testowy_17.png) center 0px  no-repeat;
}
.portfolio .pos-center section.tlo {
	background:url(../images/images/projekt-testowy_54.png) no-repeat 28% -11px,url(../images/images/projekt-testowy_54.png) no-repeat 72% -11px;
}
.envato .pos-center {
	padding:50px 15px;
}
.black .info {
	margin-left:0px;	
}
}

@media only screen and (max-width: 645px) {
.portfolio .pos-center section .services {
    display: inline-block;
    padding-top: 110px;
	padding-bottom:20px;
    width: 100%;
}
.portfolio .pos-center .professional{
	padding:25px 0px 35px 0px;
	text-align:center;	
}
.portfolio .pos-center section{
	display:inline-block;
	text-align:center;
	width:100%;
}
.menu .pos-center{
	display:inline-block;
	text-align:center;
	height:100%;
	width:100%;
}
nav ul li{
	display:block;	
}
.menu .pos-center nav {
	width:100%;
	display:inline-block;
	text-align:center;
	text-transform:uppercase;
	font-size:15px;
	font-family: sans-serif;
	font-weight: bold;
	color:black;
}
.menu {
	height:100%;
}
.menu .pos-center nav .menu-right {
		padding: 12px 0px;
		border-bottom: dotted 1px #DBDBDB;
}
.menu .pos-center .logo {
	box-shadow: 0 0 10px 0 #999;
	padding: 20px 10px;
	display:flex;
	justify-content:space-around;
	width:100%;
	
}
.menu .pos-center .logo .icon.icons8-Menu {
	width:35px;
	height:35px;
	display:block;
}
.relax .just h3{
	font-size:30px;
}
header .pos-center p{
	font-size:13px;
	padding: 15px 0;
}
.przycisk{
	width:140px;
	height:35px;
	font-size:11px;
	margin-top: 10px;
}
header .pos-center .header{
		padding: 50px 20px;
		
}
.portfolio .pos-center .professional h3,
.latest .pos-center .flex-center h3{
	font-size:30px;
	padding:5px 10px;
}
.portfolio .pos-center section{
    padding-bottom:25px;
	margin-left:0px;

	
}
.portfolio .pos-center section .services p{
    font-size:11px;
	padding:0px 10px;
}
.relax .zebatka {
	display:none;

}
.relax .just-relax {
	width:100%;	
}
.relax {
	height:100%;
}
.relax .just {
    padding: 20px 10%;
	}
.relax .just h1 {
    padding: 20px 0 17px;
	font-size:12px
}
.relax .just p {
	font-size:12px
}
.portfolio .pos-center section .services {
    padding-top: 30px;
}
.portfolio .pos-center section .services.nutka{
	background:url(../images/projekt-t_51.png) center 0px  no-repeat;
	background-size:60px;
}
.portfolio .pos-center section .services.cos{
	background:url(../images/projekt-t_53.png) center 0px  no-repeat;
	background-size:60px;
}
.portfolio .pos-center section .services.gwiazda{
	background:url(../images/projekt-t_55.png) center 0px  no-repeat;
	background-size:60px;
}

.menu .pos-center nav {
	display: none;
}


nav .sub-menu1,
nav .sub-menu2,nav .sub-menu3,nav .sub-menu4 {
	display:none;
	position:inherit;
	padding-top:inherit;	
}
nav .sub-menu1 li,nav .sub-menu2 li,nav .sub-menu3 li,nav .sub-menu4 li{
	display:block;
	text-decoration:none;
	list-style-type:none;
	width:100%;
	text-align:left;
	padding:7px 40px;
	border-top:#E6E6E6 dashed 1px;
	text-transform:none;
	font-weight:400;
	position:relative;
}
nav .sub-menu1 li a,nav .sub-menu2 li a,nav .sub-menu3 li a,nav .sub-menu4 li a{
	position:relative;
	left:50%;
	margin-left:25px;		
}


header .pos-center h3{
	font-size:30px;
	line-height:50px;
}
.portfolio .pos-center .professional p,
.latest .flex-center p {
	font-size:13px;
}
.developing .pos-center .left p {
	font-size:12px;	
}
.developing {
	padding-bottom:50px;	
}
.contact{
	padding:30px 10px;
}
.contact h3{
	font-size:20px;
}
.contact .button{
	font-size:13px;
	font-weight:bold;
	padding:8px 20px;
}
.black .info {
	padding: 10px 25px;
}
.black .info p {
	padding: 5px 0px 18px 35px;
	font-size:11px;

}
.black .info h4 {
	padding: 15px 0px;
	font-size:15px;
}
.black .info p spam{
	font-weight:bold;
	color:#FFF;
}
.black .info p small{
	font-size:10px;
	line-height:20px;
}
.developing .pos-center .left h1{
	font-size:15px;
	padding:20px 0px 15px 0px;
}
.kolko{
	padding: 12px 0px 0px 70px;
}
.kolko.koszyk{
	background:url(../images/projekt-testowy_37.jpg) top left no-repeat;
	background-size:60px;
}
.kolko.laptop{
	background:url(../images/projekt-testowy_40.jpg) top left no-repeat;
	background-size:60px;
}
.kolko.klodka{
	background:url(../images/projekt-testowy_42.jpg) top left no-repeat;
	background-size:60px;
}
footer .pos-center h3 {
    padding: 15px 10px;
    font-size:12px;
}
footer .pos-center {
	justify-content:center;
}
.developing {
    padding: 0px 15px;
	margin-bottom:20px;
}
.portfolio .pos-center .arow img#lewo{
				left:25%;
				
			}
.portfolio .pos-center .arow img#prawo{
				right:25%;
			}
			
.portfolio .pos-center section.tlo {
	background:none;
}
.portfolio .pos-center section.tlo .services{
	padding:40px 15px 0px 15px;
}
}
