@charset "utf-8";
/* CSS Document */
.pos-center{
	margin:auto;
}
.menu {
	background: #fff;
	height:112px;
}

.menu .pos-center{
	max-width:965px;
	display:flex;
	justify-content: space-between;
	align-items: center;
	height:100%;
}
nav ul li{
	display:inline-block;	
}
nav .sub1,
nav .sub2,
nav .sub3,
nav .sub4 {
	position:relative;	
}
nav .sub-menu1,
nav .sub-menu2,
nav .sub-menu3,
nav .sub-menu4 {
	display:none;	
	position:absolute;
	background:#FFF;
	padding-top:10px;
	left:-30px;
}
nav .sub-menu1 li,
nav .sub-menu2 li,
nav .sub-menu3 li,
nav .sub-menu4 li{
	display:block;
	text-decoration:none;
	list-style-type:none;
	width:200px;
	text-align:left;
	padding:10px 70px;
	border-top:#E6E6E6 dashed 1px;
	text-transform:none;
	font-weight:400;	
}
nav .sub-menu1 li:first-child,
nav .sub-menu2 li:first-child,
nav .sub-menu3 li:first-child,
nav .sub-menu4 li:first-child{
	border-top:none;
}
nav .sub-menu1 li a,
nav .sub-menu2 li a,
nav .sub-menu3 li a,
nav .sub-menu4 li a{
	text-decoration:none;
	color:#000;	
	padding-left: 25px;
	background:url(../images/images/listek_03.png) left center no-repeat;
	background-size: 12px 12px;
	
}
nav .sub-menu1 li a:hover,
nav .sub-menu2 li a:hover,
nav .sub-menu3 li a:hover,
nav .sub-menu4 li a:hover{
	color:#7cc576;	
}
.menu .pos-center nav {
	width:500px;
	display:flex;
	justify-content: flex-end;
	text-transform:uppercase;
	font-size:14px;
	font-family: "Montserrat",sans-seri;
	font-weight:500;
	color:#222222;
	letter-spacing:0.025em;
}

.menu .pos-center nav .menu-right {
		padding: 21px 8px 19px 26px;
		cursor:pointer;
}
nav .menu-right:hover {
		color:#7cc576;
}
.menu .pos-center .logo {
	width:160px;
	padding:10px;
}
.menu .pos-center .logo .icon.icons8-Menu {
	display:none;
	cursor:pointer;
}
/*header*/

header {
	height:100%;
	background:url(../images/images/laptop_03.jpg) center 100% no-repeat;
	background-size: cover;
	
}

.zaslon {
	background: rgba(0, 0, 0, 0.7);
	height:100%;
	width:100%;
	display:flex;
	align-items:center;
}

header .pos-center{
	max-width:580px;
	height:100%;
	display:flex;
	align-items:center;
	
}

header .pos-center .header{
		width:100%;
		text-align:center;
		padding: 110px 20px 120px 21px;
		
}
	
header .pos-center h3{
	color:#FFF;
	font-size:60px;
	text-transform:uppercase;
	letter-spacing:-0.08em;
	line-height:65px;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	
}
header .pos-center p{
	color:#ccc;
	padding: 33px 0px 41px 0px;
	font-size:20px;
	font-family: 'Roboto Slab', serif;
	letter-spacing:-0.025em;
}
.przycisk{
	background:#7cc576;
	width:200px;
	height:60px;
	color:#FFF;
	font-family:sans-serif;
	font-size:13px;
	border-radius:30px;
	margin-top: 16px;
	margin-left:3px;
	text-transform:uppercase;
	pacity: 1;
	border:0;
	cursor:pointer;	
}	
.dwa {
	margin-top:46px;
	margin-left:0px;
	width:168px;	
}
	
/*portfolio*/	
	
.portfolio {
	height:	100%;
}

.pos-center{
	max-width:987px;
}


.portfolio .pos-center .professional h3,
.latest .pos-center .flex-center h3{
	color:#222;
	text-transform:uppercase;
	font-family: 'Roboto', sans-serif;
	font-size:40px;
	padding:23px 0px 13px 0px;
	letter-spacing:-0.055em;
	text-align:center;
	font-weight:400;
}


.portfolio .pos-center .professional p,
.latest .flex-center p{
	color:#777;
	font-size:15px;
	text-align:center;
	font-size:20px;
	font-family: 'Roboto Slab', serif;
	letter-spacing:-0.025em;
}

.portfolio .pos-center section .services{
	padding:70px 15px 0px 15px;
	width:100%;
	text-align:center;
}
.portfolio .pos-center section.tlo .services{
	padding:97px 15px 0px 15px;
}
.portfolio .pos-center section{
	margin-left:3px;
	display:flex;
	justify-content:space-between;
	padding-bottom:87px;
	
}
.portfolio .pos-center section.tlo {
	padding-bottom:65px;
}
.culture {
	background-color:#f9f9f9;
}

.portfolio .pos-center section .services h2{
	color:#000;
	text-transform:uppercase;
	font-family: "Montserrat",sans-seri;
	font-weight:700;
	font-size:18px;
	padding:35px 0px 23px 0px;
	letter-spacing:-0.025em;
}


.portfolio .pos-center section .services p{
	color:#777777;
	padding:0px 15px;
	font-family: 'Roboto Slab', serif;
	font-weight:400;
	font-size:14px;
	line-height:20px;
	display:block;
	margin-top: -10px;
	padding-bottom:16px;
	letter-spacing:-0.025em;
}

.portfolio .pos-center section .services.serce{
	background:url(../images/projekt-testowy_13.png) center 14px  no-repeat;
}
.portfolio .pos-center section .services.telefon{
	background:url(../images/projekt-testowy_15.png) center 14px  no-repeat;
}
.portfolio .pos-center section .services.wykres{
	background:url(../images/projekt-testowy_17.png) center 14px  no-repeat;
}


.portfolio .pos-center section .services.nutka{
	background:url(../images/projekt-t_51.png) center 16px  no-repeat;
}
.portfolio .pos-center section .services.cos{
	background:url(../images/projekt-t_53.png) center 16px  no-repeat;
}
.portfolio .pos-center section .services.gwiazda{
	background:url(../images/projekt-t_55.png) center 16px  no-repeat;
}


/*relax*/	
.relax{
	height: 616px;
	display:flex;
}

.relax .zebatka {
	width:31%;
	height:100%;
	background:#e9e9e9;
	position:relative;
}

.relax .zebatka img {
	position:absolute;
	bottom: 50%;
    margin-bottom: -219px;
    right: -203px;
}

.relax .just-relax{
	width:69%;
	background:url(../images/morze-skaly_03.jpg) no-repeat;
	background-size: cover;
	height:100%;
	z-index:2;
	position:relative;
}

.relax .just{
	padding: 0px 10.492%;
	margin-top:-10px;
	
}

.relax .just h3{
	font-size:40px;
	color:#FFF;
	text-transform:uppercase;
	font-family: "Montserrat",sans-seri;
	line-height:51px;
	letter-spacing:-0.05em;
	font-weight:500;
}
.relax .just h3 small{
	color:#7cc576;
}
.relax .just h1{
	padding: 30px 0px 13px 0px;
	
}
.relax .just h1,
.relax .just p{
	color: #ccc;
	max-width:500px;
	font-family: 'Roboto Slab', serif;
	font-size:16px;
	line-height:24px;
	letter-spacing:-0.025em;
		
}

.relax .just p {
	background:url(../images/checked_30.png) left center no-repeat;
	padding: 10px 0px 8px 52px;
}

.latest .pos-center{
	width:100%;
	text-align:center;
}

.latest .pos-center .flex-center{
	padding: 73px 0px 29px 0px;

}

.developing .pos-center .left h1{
	font-size:16px;
	color:#000;
	text-transform:uppercase;
	padding:57px 0px 18px 0px;
	font-family:sans-serif;
}

.developing .pos-center .left p {
	color:#777;
	max-width: 420px;
	font-family: 'Roboto Slab', serif;
	font-size:16px;
	letter-spacing:-0.025em;
	font-weight:400;
	line-height:24px;
	padding-bottom:7px;
}
.developing .pos-center .left p.wysun {
	padding-top:11px;
	padding-bottom:19px;
}

.developing .pos-center .left {
	max-width: 500px;
	margin-left: 28px;
}

.kolko p {
	color:#777777;
	font-size:15px;
}

.kolko h2 {
	padding-top:12px;
	font-weight:900;
	text-transform:none;
	font-family: "Montserrat",sans-seri;
	letter-spacing: -0.025em;
	font-size:18px;
	color:#000;
}

.kolko{
	min-height:75px;
	padding: 0px 0px 0px 90px;
	margin-top:12px;
	display:flex;
	align-items:center;
}
.kolko.koszyk{
	background:url(../images/projekt-testowy_37.jpg) center left no-repeat;
}
.kolko.laptop{
	background:url(../images/projekt-testowy_40.jpg) center left no-repeat;
}
.kolko.klodka{
	background:url(../images/projekt-testowy_42.jpg) center left no-repeat;
}
.kolko.klodka h2{
	font-weight:300;
	letter-spacing: -0.05em;
}
.developing .pos-center .left span {
	color:#7cc576;
	text-transform:uppercase;
	font-family:sans-serif;
	font-weight:400;
	padding-right:25px;
	font-size:16px;
	letter-spacing:-0.05em;
	margin-top:9px;
}

.developing {
	background:url(../images/projekt-testowy_35.png) bottom right no-repeat;
	padding-bottom:100px;
}
.portfolio .pos-center .arow .prev, .portfolio .pos-center .arow .next{display:inline-block !important;}
			.portfolio .pos-center .arow {
				position:relative;
				display:flex;
				justify-content:center;
				padding:5px 0px;
				visibility:hidden;
			}
			.portfolio .pos-center .arow img#lewo,
			.portfolio .pos-center .arow img#prawo,
			.portfolio .pos-center .arow .dot {
				width:25px;
				height:25px;
				margin:10px;
				cursor:pointer;
			}
			
			.portfolio .pos-center .arow img#lewo{
				transform:rotate(180deg);
				position:absolute;
				bottom::0px;
				left:40%;
				
			}
			.portfolio .pos-center .arow img#prawo{
				position:absolute;
				bottom::0px;
				right:40%;
			}
			.portfolio .pos-center .arow img#lewo:hover{
				width:20px;
				height:20px;
			}
			.portfolio .pos-center .arow img#prawo:hover{
				width:20px;
				height:20px;
			}
			
			.portfolio .pos-center .arow .dot{
				background:#777;
				color:#FFF;
				border-radius:50%;
				text-align:center;
				line-height:25px;
				font-family:sans-serif;
				font-weight:bold;
			}
			.portfolio .pos-center .arow .dot.active{
				background:#7cc576;
			}

.clients .avatar{
	width:220px;
	height:220px;
	border-radius:50%;
	background:#f9f9f9;
	display:inline-block;
	float:left;
	justify-content:center;
	align-items:center;
	display:flex;
}
.clients .avatar img{
	border-radius:50%;
	width: 180px;
	height:auto;
}
.clients:after{display:block; content:''; clear:both; }

.clients{
	padding-top:19px;
	padding-left:26px;
}

.przewijaj{width:100% !important;}

.clients .komentarz{
	max-width:640px;
	height:auto;
	background:#f9f9f9;
	margin: 30px 35px 18px 47px;
	text-align:center;
	display:inline-block;
	padding:35px 60px 40px 60px;
	float:left;
}

.clients .komentarz h1{
	color:#777;
	font-family:sans-serif;
	font-weight:300;
	font-size:22px;
	line-height:28px;
	color:#777;
	letter-spacing:0;
}

.clients .komentarz p{
	color:	#7cc576;
	padding:20px 0px 0px 0px;
	
}
.contact {
	background:	#7cc576;
	color:#FFF;
	text-align:center;
	font-family:sans-serif;
	text-transform:uppercase;
	padding: 46px 10px 71px 10px;
}

.contact h3{
	font-size:40px;	
	padding:20px 10px 21px 10px;
	font-weight:300;
	letter-spacing:-0.09em;
}
.contact .button{
	border:solid 3px #FFF;
	font-size:17px;
	border-radius: 7px;
	font-weight:bold;
	padding:11px 29px;
	background:#7cc576;
	color:#FFF;
	cursor:pointer;
}

.contact .button:hover{
	background:#FFF;
	color:#7cc576;
}

.przycisk:hover{
	background:#FFF;
	color:#7cc576;
	font-weight:bold;
}

.envato .pos-center {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	padding:50px 0px;
	max-width:800px;
}
.envato .pos-center img{
	padding: 10px 0px;
}

.black {
	background:#222;
	color:#ececec;	
}

.black .pos-center {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}

.black .info {
 	padding: 27px 15px 53px 15px;
	margin-left:-50px;

}

.black .info.latest-post {
	margin-left:-2px;

}


.black .info img{
	float:left;
	padding: 11px 0px 0px 0px;

}

.black .info h4 {
	padding:32px 0px 15px 0px;
	font-family:sans-serif;
	font-size:17px;
	font-weight:bold;
	text-transform:uppercase;
	color:#FFF;
	
}

.black .info p {
	padding: 10px 0px 10px 40px;
	letter-spacing:-0.06em;
	line-height:20px;
	font-family: 'Roboto Slab';
	font-weight:400;

}
.black .info.contact-us p {
	padding: 10px 0px 12px 37px;
	line-height:23px;
}
.black .info.latest-post p {
	padding: 11px 0px 11px 37px;
}
.black .info.contact-us p#adres  {
	padding: 10px 0px 9px 37px !important;
}

.black .info p spam{
	font-weight:bold;
	color:#FFF;
}
.black .info p small{
	font-size:12px;
	line-height:30px;
}
.black .info.latest-tweets  {
	margin-left:-55px;
}
.black .info.latest-tweets p  {
	padding: 11px 0px 0px 37px;
}

footer .pos-center {
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}
footer .pos-center h3 {
	padding: 42px 115px 40px 24px;
	color:#555;
	font-size:14px;
	font-family: "Montserrat",sans-seri;
	font-weight:400;
}
footer .pos-center .zdj img {
	border-radius: 50%;	
	padding: 5px;
	float:left;
}
footer .pos-center .zdj {
	height:auto;	
}




















			


