@charset "utf-8";
/* CSS Document */

@media only screen and (max-width: 1130px) {
	#wyszukiwarka {
	width:125px;
	height:30px;
}	
}
@media only screen and (max-width: 950px) {
	.filtr {	
	width:30%;
}
.produkty {
	width:70%;
		
}
.produkty .opakuj {
	width:50%;
}

ul li.icon {
	display:inline-block;	
}
ul.menu li{
	display:block;
	padding:10px 25px;
}
ul.menu li {
	display:none;	
}
ul.menu {
	display:initial;
}
.pos-center .opakuj.letter{
	padding:20px 0px;;	
}
}
@media only screen and (max-width: 790px) {
.produkty {
	width:100%;
		
}
.produkty .opakuj {
	width:33.333%;
}
.container {
	margin:10px 0px;
}
.opakuj {
	padding:5px;	
}

.f-lewo p,
#slider-range {
	display:none;
}
.filtr {
    float: inherit;
    width: 100%;
	padding:inherit;
}

.filtr .f-lewo {
	padding:0px;	
}
.filtr .f-lewo h2{
	padding:20px;
	cursor:pointer;	
}
.filtr > .opakuj{
	padding:5px;
	width:50%;	
}
.filtr > .opakuj:nth-child(1),
.filtr > .opakuj:nth-child(2){
	float:left;	
}
.filtr > .opakuj:nth-child(3),
.filtr > .opakuj:nth-child(4){
	float:right;	
}
.f-lewo {
    padding-bottom:0px;
	width:100%;
}

.news-letter p{
	font-size:11px;
}
.news-letter h2{
	font-size:14px;
	text-transform:uppercase;
	padding-right:25px;
}
.news-letter i{
	font-size:10px;
	padding-right:15px;
}
.news-letter button{
	padding:10px 20px;
	font-weight:700;
	font-size:10px;
	
}

footer .pos-center {
	padding:80px 15px;	
	font-size:8px;
	line-height:30px;	
}

footer .pos-center ul li a{
	font-size:8px;
}
.payment {
	background-size:100%;
	padding-right:0px;
	
}




}
@media only screen and (max-width: 660px) {
.produkty .opakuj {
	width:50%;
}
.news-letter {
	flex-wrap:wrap;
}
.news-letter span{
	width:100%;
	padding:10px 0px;
	justify-content:space-between;	
}
.news-letter i {
    font-size: 10px;
    padding-right: 0px;
}

.produkt h2 {
    font-size: 14px;
}
.produkt p {
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;

}
.produkt .zdj-produktu img {
    padding: 10px 0;
}
.produkt:hover .kropka{
	margin:0px 2px 15px 2px;	
}
.produkt:hover span {
    font-size: 10px;

    line-height: 40px;
}
.ikony img {
    padding: 20px 5px;
}
.menu-right{
	position:relative;
}
.menu-right li:nth-child(1){
	left: -20px;
    position: absolute;
    top: 73px;
	padding:inherit !important;
}
#wyszukiwarka {
	width:200px;
	height:25px;

}
}

@media only screen and (max-width: 500px) {
	.filtr {	
	width:100%;
}
.produkty {
	width:100%;
		
}
.produkty .opakuj {
	width:50%;
}
.pos-center .opakuj {
	padding:5px;
}
footer .pos-center ul li{
	display:none;
}
.social {
	padding-right:inherit;	
	max-width:60px;
}
.info > div {
	padding:10px 25px;	
}
.info img {
    left: 0;
    top: 10px;
}
.social img {
    left: 36px;
    top: 38px;
}
.produkt .zdj-produktu img {
    width:150px;
	height:auto;
}
.produkt:hover .zdj-produktu img {
	width:inherit;
    height: 110px;
}
ul.menu-right li {
	padding:25px 10px 0px 10px;	
}
.pos-center ul.menu-right div {
	top:15px !important;
}

}


@media only screen and (max-width: 401px) {
.produkty .opakuj {
	width:100%;
}
.filtr > .opakuj{
	width:100%;	
}
ul.menu-right {
	max-width:95px;	
	align-content:flex-start;
}
ul.menu-right li {
	padding:35px 10px 0px 10px;	
}
.menu-right li:nth-child(1){
	left: -60px;
    position: absolute;
    top: 2px;
	z-index:9999;
}
#wyszukiwarka {
	width:150px;
	height:25px;
	z-index:99999;

}

}
















