@charset "utf-8";
/* CSS Document */

body {background:#f4f6f8;}

.pos-center { max-width:1200px;  
	margin:0px auto;}

.container {
	margin:105px 0px;
}


.filtr {	
	float:left;
	width:25%;
}
.opakuj {
	padding:15px;
}
.f-lewo{
	background:#FFF;
	padding-bottom:20px;
}
.f-lewo.sizes,
.f-lewo.brands{
	padding-bottom:25px;
}
.f-lewo h2{
	color:#ff5912;
	font-size:17px;
	font-family: "Montserrat",sans-seri;
	font-weight:900;
	
}
.f-lewo.categories h2{
	padding:40px 35px 25px 38px;	
}
.f-lewo.sizes h2,
.f-lewo.brands h2{
	color:#ff5912;
	font-size:17px;
	font-family: "Montserrat",sans-seri;
	font-weight:900;
	padding:40px 35px 20px 38px;	
}
.f-lewo.price h2{
	padding:40px 35px 10px 38px;	
}
.f-lewo p{
	color:#34404b;
	font-size:15px;
	font-family: "Montserrat",sans-seri;
	font-weight:600;
	line-height:50px;
	padding:0px 38px;	
	display:block;
	cursor:pointer;
	width:100%;
}
.f-lewo.price p{
	padding-top:19px;
	line-height:25px;
}

.f-lewo.price {
	padding-bottom:25px;
}
.f-lewo label {
	position:relative;
	display: ruby-base;
}
.f-lewo label input {
	margin-right:10px;
	
}

.f-lewo label span {
	position:absolute;
	width: 13px;
    height: 13px;
    top: 3px;
    left: 40px;
	background:#edf0f2;
	z-index:9999;
}

.f-lewo label input[type=checkbox]{
	visibility:hidden;

}
.f-lewo label input[type=checkbox]:checked + span {
	border: 4px solid #ff5912;
	background:#fff;
}
.f-lewo label input[type=checkbox]:checked + span +b{
	color:#ff5912;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #f4f6f8;
	font-family: "Montserrat",sans-seri;
	font-size:12px;
	text-transform:uppercase;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 75%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: #f4f6f8 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}



#wyszukiwarka {
	width:300px;
	height:30px;
	border:none;
	background:#f4f6f8;
	z-index:99999;
}
.menu-right li:nth-child(1){
	display:none;
	z-index:99999;	
}
.produkty {
	display:flex;
	flex-wrap:wrap;
	float:right;
	width:75%;
		
}
.produkty .opakuj {
	width:33.333%;
}
.produkt {
	background:#FFF;
	text-align:center;		
}
.produkt a{
	list-style-type:none;
	text-decoration:none;		
}
.produkt .zdj-produktu img{
	padding:25px 0px;		
}
.produkt:hover .zdj-produktu img{
	height:150px;		
}
.produkt:hover {
	box-shadow: 0px 0px 15px #DDD;
}
.produkt span {
	display:none;
}
.produkt:hover span {
	font-size:14px;
	font-family: "Montserrat",sans-seri;
	font-weight:100;
	line-height:70px;
	display:block;
	
}
.ikony {display:none;}

.produkt:hover .ikony {
	border-top:#CCC solid 1px;
	width:170px;
	margin: 0px auto;
	display:block;
}
.ikony .ikona{	
	width:26px;
	height:25px;
	background:url(../img/images/ziemia2_03.png) no-repeat;
	margin: 25px 5px;
	display:inline-block;
	overflow:scroll;	
}
		.ikony .ikona.ziemia{	
			background:url(../img/images/ziemia2_03.png) no-repeat;	
		}
		.ikony .ikona.wozek{	
			background:url(../img/images/w%C3%B3zekztesco2_05.png) no-repeat;	
		}
		.ikony .ikona.serce{	
			background:url(../img/images/serce2_07.png) no-repeat;	
		}
.ikony .ikona:hover{	
	background-position:center -25px ;	
}
.produkt:hover .kropka{
	height:13px;
	width:13px;	
	border-radius:50%;
	display:inline-block;
	margin:0px 2px 30px 2px;	
}
.produkt:hover p{
	display:none;
		
}
		.produkt:hover .kropka.czerwona{
			background:	#e12e3f;	
		}
		.produkt:hover .kropka.niebieska{
			background:	#3ab3ff;	
		}
		.produkt:hover .kropka.czarna{
			background:	#34404b;		
		}
		.produkt:hover .kropka.zielona{
			background:	#2fd967;		
		}
.produkt h2{
	color:#34404b;
	font-size:18px;
	font-family: "Montserrat",sans-seri;
	font-weight:800;	
}
.produkt p{
	color:#ff5912;
	font-size:18px;
	font-family: "Montserrat",sans-seri;
	font-weight:400;
	line-height:70px;	
}

.pom-kropeczki {
	width:100% !important;	
}

.kropeczki {
	height:	60px;
	background:#FFF;
	display:flex;
	flex-wrap:nowrap;
	justify-content:center;
	align-items:center;
}
.kropeczka {
	height:	8px;
	width:8px;
	background:#ff5912;
	border-radius:50%;
	display:inline-block;
	margin:2.5px;
}

input#amount{
	border:none;
	color:#34404b !important;
	width:100%;
	padding:0px 0px 17px 0px;
	text-align:center;
	
}
.ui-widget.ui-widget-content {
    border: none !important;
	background:#edf0f2;
    border-radius: inherit;
    height: 3px;
    margin: 0px auto 20px auto;
    width: 186px;
}

.ui-slider-handle.ui-corner-all.ui-state-default{
	width:11px;
	height:11px;
	background:#34404b;
	border:none;
	border-radius:50%;
}

.ui-slider-range.ui-corner-all.ui-widget-header {
	border:none;
	background:#34404b;	
}

.cena {
	width:70px;
	font-size:14px;
	color:#34404b;
	font-weight:100;
}

.cena input{
	width:45px;
	background:#edf0f2;
	border:none;
}
.cena input#from{
	margin:0px 10px;
}
.cena input#to{
	margin:0px 0px 15px 15px;
}
.social{
	position:relative;	
	padding-right:40px;
}

.social i {
	color:#34404b;		
}
.social img{
	position:absolute;
	right:10px;
	top:10px;
}

.header {
	background:#FFF;
}
.small {
		border-bottom:1px solid #CCC;	
}
.small-header {
	display:flex;
	justify-content: space-between;
	align-items:center;	
		padding:10px;	
}

.info {
	display:flex;	
	flex-wrap: wrap;
	padding: 15px 0px;
	color:#34404b;
	font-size:11px;
	font-family: "Montserrat",sans-seri;
	font-weight:400;
	
}
.info div {
	display:flex;
	flex-wrap:nowrap;
	padding-right:20px;	
	padding-left:25px;
	position:relative;
}

.info img{	
	padding-right: 8px;
	position:absolute;
	left:0px;
	top:0px;
	
}

.big-header {
	display:flex;
	justify-content: space-between;
	padding:10px;		
}
ul.menu {
	display:flex;
	align-items:center;
	padding:25px 0px 24px 0px;	
}
.menu img {
	padding:0px 64px 0px 0px;	
}
ul.menu li {
	display:inline-block;
	padding: 0px 18px;
}

ul.menu li:first-child {
	padding: 0px 60px 0px 0px !important;
}
ul li a{
	text-decoration:none;	
	color:#34404b;
	font-size:15px;
	font-family: "Montserrat",sans-seri;
	font-weight:400;
}
.active,
.active a,
ul.menu li:hover a 
{
	color:#ff5912;
}
ul.menu-right {
	display:flex;
	flex-wrap:wrap;
	justify-content:flex-end;
	
}
ul.menu-right li {
	display:inline-block;
	padding:42px 10px 0px 10px;
	position:relative;
	margin-bottom:-5px;
}

ul.menu-right div {
	width:18px;
	height:18px;
	position:absolute;
	background:#34404b;
	color:#FFF;
	border-radius:50%;
	text-align:center;
	font-size:10px;
	padding:5px;
	top:27px;
	right:13px;
}





.news-letter {
	background:#FFF;
	width:100%;
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding:30px 40px;	
	margin:	120px 0px;
	position: relative;
    width: 100%;
	bottom:-110px;
}
.opakuj.letter {
	padding-bottom:125px;	
	
}

.news-letter span {
	display:flex;
}
.news-letter h2{
	color:#ff5912;
	font-size:18px;
	font-family: "Montserrat",sans-seri;
	font-weight:900;
	text-transform:uppercase;
	padding-right:25px;
}

.news-letter i{
	color:#34404b;
	font-size:14px;
	font-family: "Montserrat",sans-seri;
	font-weight:100;
	font-style:italic;
	padding-right:15px;
}
.news-letter button{
	background:#ff5912;
	border:none;
	text-align:center;
	padding:15px 25px;
	color:#FFF;
	font-weight:700;
	
}
.news-letter p{
	color:#7c8791;
	font-size:14px;
	font-family: "Montserrat",sans-seri;
	font-weight:100;
	font-style:italic;
	padding-left:25px;
	background:url(../img/koperta_03.png) no-repeat left;
}
footer {
	background:#FFF;
	width:100%;
}
footer .pos-center {
	display:flex;
	justify-content:space-between;
	padding:80px 15px 70px 15px;	
	color:#363f48;	
	font-family: "Montserrat",sans-seri;
	font-size:13px;
	line-height:30px;	
}
footer .pos-center ul{
	list-style-type:disc !important;
		
	
}

footer .pos-center ul li{
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;	
	list-style-type:disc !important;
	display:list-item;	
	
}

footer .pos-center ul li a{
	
	font-size:13px;
}
footer .pos-center .logo-stopka{
	padding:0px 50px 0px 0px;
}

.payment {
	padding-right:50px;
	padding-top:15px;
	color:#ff5912;
	font-weight:600;
	background:url(../img/images/pay_03.png) no-repeat left 50px ;
	
}


ul li.icon {
	display:none;
}










